<h1 align="center">Gerador de Formulário</h1>
<hr>
<div >  
  <h4> Escolha uma opção</h4>
  <hr width="10%" align="left">
  <%= link_to 'Tipo', types_path %><br>
  <%= link_to 'Campo', fields_path %><br>  
  <%= link_to 'Categoria', categories_path %>

</div>
